body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 15px;
  padding: 0;
  padding: 20px;
}

.container{
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-option {
  /* flex-basis: calc(50% - 10px); */
  margin: 30px;
  display: flex;
}

.submit-button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button button{
  margin-inline: 20px;
}

button:hover {
  background-color: #0056b3;
}

.submit-button #show-all{
  background-color: #ff0000;
}

.submit-button #show-all:hover{
  background-color: crimson;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  flex: 1;
}

input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 4;
}

button {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}



table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.error {
  color: #ff0000;
}
